#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/ajax-loader.gif) no-repeat;
    cursor: wait;
    }

.custom-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    background-color: red;
}
