<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../custom.css" rel="stylesheet">

    <!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>

    <!-- Load the element definition -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>

    <!-- Simply set the `src` attribute to your MD file and win -->

    <title>Hello, world!</title>



  </head>
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% import "bootstrap/wtf.html" as wtf %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">About</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-account-tab" data-bs-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false">Export By Account</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-hotspot-tab" data-bs-toggle="pill" href="#pills-hotspot" role="tab" aria-controls="pills-hotspot" aria-selected="false">Export By Hotspot</a>
      </li>
    </ul>

    <div class="tab-content d-flex justify-content-center" id="pills-tabContent">

      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div style="margin-left: 10%; margin-right: 10%">
        <zero-md>
          <script type="text/markdown">
            # HNT Taxable Earnings Exporter
            A brutally simple tool for exporting a CSV of taxable earnings for a given account based on the USD/HNT price on Coingecko. [View on Github](https://github.com/evandiewald/helium-taxable-mining-earnings).
            ## ***Disclaimer**: This is not official tax advice - I have zero qualifications and take no responsibility for how you use this code. Use at your own risk and make sure to consult a tax professional.*

            I suspect that Helium is many folks' first experience with crypto mining (it is for me) and thus, maneuvering crypto taxes. My understanding is that the IRS considers mined crypto as income, based on the USD value of the token on that day.

            e.g. If I mined 10 HNT on 12/30/2020 and the market price on that day was $1.50/HNT, that is considered $15 in eligible income.

            If you then sell this mined HNT, the difference between the mined price and sell price will be realized as a capital gain/loss.
            Some more details here: https://cryptotrader.tax/blog/how-to-handle-cryptocurrency-mining-on-your-taxes

            Most exchanges and tax preparation software can help you handle the capital gains aspect, but I haven't seen a straightforward way to calculate your eligible income for mined HNT. This extremely simple script is meant for my own purposes, but I figured I'd share in case it helps others. Simply plug in your account address and it will generate a CSV file with four columns:
            - DATE: the script starts from 12-31-2020 and works backward for N_DAYS (I have it set at 365, but it depends when you got your first hotspot)
            - HNT_MINED: total HNT mined on that day for all hotspots associated with your address (gathered by calling the [Helium API](https://developer.helium.com/blockchain/api/api-hotspots)
            - HNT_PRICE_USD: the Coingecko price for HNT (in USD) on that date
            - VALUE_MINED_USD: calculated as HNT_MINED * HNT_PRICE_USD (total eligible mined income for that date)

          </script>
        </zero-md>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab" style="width: 80%">
        <div id="content">
          <form class="form form-horizontal" method="post" role="form" action="/">
            {{ addressForm.csrf_token() }}
            {{ wtf.form_field(addressForm.address) }}
<!--            <div id="submit"><p><input type=submit class="btn btn-primary btn-lg" value="Export CSV" onclick="loading()"></div>-->
            <div>
<!--              <button type="submit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                Export CSV-->
<!--              </button>-->
              {{ wtf.form_field(addressForm.submit_account, class="btn btn-primary btn-lg") }}
            </div>
            <div class="alert alert-warning" role="alert">
              Exporting can take a few minutes, and depends on the number of hotspots you have and how long you've had them.
            </div>

          </form>
        </div>
      </div>


      <div class="tab-pane fade" id="pills-hotspot" role="tabpanel" aria-labelledby="pills-hotspot-tab" style="width: 80%">
        <div id="content">
          <form class="form form-horizontal" method="post" role="form">
            {{ hotspotForm.csrf_token() }}
            {{ wtf.form_field(hotspotForm.address) }}
<!--            <div id="submit"><p><input type=submit class="btn btn-primary btn-lg" value="Export CSV" onclick="loading()"></div>-->
<!--            <div class="col text-left">-->
<!--              <button type="submit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                Export CSV-->
<!--              </button>-->
            <div>
              {{ wtf.form_field(hotspotForm.submit_hotspot, class="btn btn-primary btn-lg") }}
            </div>
<!--            <p><input type="submit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">-->

            <div class="alert alert-warning" role="alert">
              Exporting can take a few minutes.
            </div>

          </form>
        </div>
      </div>

<!--      <div id="loading-spinner" class="spinner-border" role="status" style="display: none;">-->
<!--          <span class="sr-only"></span>-->
<!--      </div>-->

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CSV Export In Progress!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do not exit this page until the download is complete.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>



  </div>

  <footer class="bg-info">
    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="margin-bottom: 10px; background-color: bisque;">
        Like the project and want to support? HNT Address: 14b7gkGPca2zyRCbUr1uuykiJwdtYnDhdZ3XBKgXocKQANrSavd
    </div>
  </footer>


  <script type="text/javascript">// <![CDATA[
        function loading() {
          document.getElementById("loading-spinner").style.display = "block";
        }
  </script>

  <script>
      window.onload = function exampleFunction() {
          document.getElementById("loading-spinner").style.display = "none";
      }
  </script>

  </body>
</html>

